BOT_TOKEN=123:qwfr
ADMINS_ID=123,456,789

DB_NAME=example
DB_USER=postgres
DB_PASSWORD=parol
DB_HOST=localhost
DB_PORT=5432
DB_POOL_MIN_CONN=1
DB_POOL_MAX_CONN=20

REDIS_URL=redis://localhost:6379
MAX_BROADCAST_CONCURRENCY=20
DEFAULT_BROADCAST_BATCH_SIZE=100
DEFAULT_DB_PAGE_SIZE=1000
PROGRESS_UPDATE_EVERY_USERS=500
PROGRESS_UPDATE_MIN_SECONDS=2
SLOW_UPDATE_MS=700
WEBHOOK_URL=https://yourdomain.com
WEBHOOK_SECRET=supersecrettoken123